body { 
    background-color: rgb(216, 249, 255);
    font: normal 15pt arial;

}

header {
    color: rgb(228, 18, 18);
    text-align: center;

}

section {
    background-color: blue;
    width: 1200px;
    padding: 30px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba( 0,0,0,344);

}

#resutado {
    text-align: center;
    padding: 20px;
}
footer {
    color: aliceblue;
    text-align: center;
    font-style: italic;
}